<h1>Payments#create</h1>

<div id='loader' data-url="<%= payments_show_url(@payment.id) %>">
	<img src="http://preloaders.net/preloaders/712/Floating%20rays.gif"/>
</div>

<div id='status'>Payment is being processed. Please wait...</div>